

body {
padding: 30px;
margin: 20px;
background-image: url(../img/stars.png);
}

h1 {
  text-align: center;
  color: white;
  text-decoration-color: black;
}

.btn {
  display: block;
  margin: auto;
}

#quote {
  display: none;
}

.btn {
  border: solid 1px gray;
  
}

#ruby, #python, #js {
  display: none;
  text-align: center;
}

img {
  width: 400px;
  height: auto;
}

.well {
width: 675px;
height: 800px;
margin: auto;
}

