body {
padding: 50px;
margin: 30px;
}

h1 {
  text-align: center;
}

.btn {
  display: block;
}

#quote {
  display: none;
}

.btn {
  border: solid 1px gray;
}

.element-showing0 {
  display: none;
  text-align: center;
}

.clickable0 {
  text-decoration: underline;
  color: blue;
  text-align: center;
}
