img {
  width: 400px;
  height: auto;
  margin: auto;
}

#header {
  margin: auto;
  text-align: center;

}

body {
padding: 30px;
margin: 20px;
background-image: url(../img/stars.png);
}

h1 {
  text-align: center;
  color: white;
  text-decoration-color: black;
}

.btn {
  display: block;
  margin: auto;
}

#quote {
  display: none;
}

.btn {
  border: solid 1px gray;
}

#ruby, #python, #js {
  display: none;
  text-align: center;
  font-size: small;
  width: 800px;
  height: 500px;
  margin: auto;
  border: 3px solid purple;
  background-color: white;
}

.well {
width: 675px;
height: 800px;
margin: auto;
}